
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}


.navbar-brand img.logo-small {
    max-width: 50px; 
    height: auto;
    margin-left: -2px;
}

.navbar-text {
    width: 60%; 
    text-align: right; 
    margin-right: 8px; 
    word-spacing: 15px; 
    font-size: 8px;
    font-weight: bold; 
    margin-bottom: 5px;
}

.header-content {
    padding: 20px 15px;
    padding-left: 15px;
}

.header-image {
    margin-top: -30px;
    margin-bottom: 30px; 
    max-width: 150%;
    height: 600px; 
}
.header-content .col-6.text-center img {
margin-right: 20px;
    width: 150px;
    height: 200px;
}
.header-content .col-6.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.work {
    margin-left: -11px;
    font-size: 16px; 
    white-space: nowrap;
    font-weight: bold;
 
}

.font-size-small1,
.font-size-small2,
.font-size-small3 {
    font-size: 20px; 
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 3px;
}

.paragraph-content {
    margin-top: 2px;
    font-size: 7px; 
    font-weight: bold;    
}

.btn-send-message {
    background-color: #ffe207; 
    color: black; 
    margin-left: 2px;
    padding: 8px 12px; 
    font-size: 10px; 
    border-radius: 0; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .yellow-box {
    background-color: #ffe207;;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .yellow-box > div {
    text-align: center;
  }
  
  .yellow-box h3 {
    font-size: 16px; 
    font-weight: bold;
    color: black;
  }
  
  .yellow-box h5 {
    font-size: 12px; 
    font-weight: bold;
    color: black;
  }
  
  @media (max-width: 768px) {
    .yellow-box {
      text-align: center;
      height: auto;
    }
  }

@media (max-width: 768px) {
    .container h1 {
        font-size: 28px; 
        font-weight: bold; 
        margin-left: -7px; 
        margin-top: 15px; 
    }
}



.btn-show-me-more {
    background-color: #ffe207;;
    border: none;
    padding: 8px 14px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS for Logos Section */
.logos-section {
    margin-top: 20px; 
    margin-bottom: 1px; 
  }
  
  .logo {
    width: 40px; 
    margin: 3px; 
  }
  
  @media (max-width: 768px) {
    .logo {
      max-width: 60px; 
    }
  }
  .about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-box {
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 0; 
}

.img-fluid.mb-0 {
    margin-bottom: 0; 
}


.yellow-bg {
    background-color: #ffe207;;
}

.about-box h5,
.about-box p {
    margin: 5;
}
.img-fluid.mb--10 {
    margin-bottom: -10px;
}



.img-large {
    max-width: 115%;
    height: auto;
    margin-top: 50px; 
}

.icon-small {
    max-width: 25px; 
    height: auto; 
    margin: 1px; 
}

@media (max-width: 576px) {
    .icon-small {
        max-width: 25px;
    }
}

.footer {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer p {
    margin-bottom: 0;
    display: inline;
    font-size: 6px;
    white-space: nowrap;
}

.footer-logo {
    max-width: 30px;
    height: auto;
}

.back-to-top {
    color: white;
    font-size: 6px;
    margin-top: -2px;
    margin-right: 0; 
}

.back-to-top a {
    color: white;
    text-decoration: none;
}

.back-to-top a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content p {
    margin-left: 3px; 
}
